.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.1em 0.5em;
  margin: 0.3em 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #cdcdcd;
  outline: 0;
  transition: border-bottom-color 0.5s;
}
.input:focus {
  border-bottom-color: #4e4e4e;
}
.wrap {
  margin: 1.5em 0;
}
